
<% @quizzes.each do |quiz| %>
  <ul id="quiz-list">
    <li class="quit-item">
      <%= link_to quiz.title, quiz_path(quiz) %>
    </li>
  </ul>
<% end %>

<%= link_to "Create New Quiz", new_quiz_path(@quiz) %>